.products{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: baseline;
}

.product img {
    width: 200px;
}

.product {
    padding: 30px 100px;
}

.addToCart {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCart:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }


